<!-- <nav class="w-screen flex justify-between items-center px-60 my-5 max-w-full">
  <div>
    <img src="/assets/images/So DelishUs Logo.png" />
  </div>
  <div class="flex items-center text-xs">
    <a class="mr-5 p-1">Home</a>
    <a class="mr-5 p-1">About Us</a>
    <a class="mr-5 p-1 relative"
      >Products
      <div
        class="absolute bottom-3/4 left-3/4 bg-[#DAB001] text-white px-1"
        style="font-size: 8px"
      >
        Hot
      </div>
    </a>
    <a class="mr-5 p-1">FAQ</a>
    <a class="mr-5 p-1">Blogs</a>
    <a class="mr-5 p-1">Contact US</a>
    <button class="mr-5 bg-[#DAB101] px-8 py-2 rounded-sm text-white">
      Login
    </button>
    <a class=""><img src="/assets/images/shopping-cart.png" /></a>
  </div>
</nav> -->
