<nav
  class="w-screen flex justify-between items-center pl-32 pr-32 my-10 flex-wrap"
>
  <div>
    <img src="/assets/images/So DelishUs Logo.png" />
  </div>
  <div class="flex items-center text-sm">
    <a class="mr-10">Home</a>
    <a class="mr-10">About Us</a>
    <a class="mr-10">Products</a>
    <a class="mr-10">FAQ</a>
    <a class="mr-10">Blogs</a>
    <a class="mr-10">Contact US</a>
    <button class="mr-10 bg-[#DAB101] px-5 py-1.5 rounded-sm text-white">
      Login
    </button>
    <a><img src="/assets/images/shopping-cart.png" /></a>
  </div>
</nav>
