<footer class="text-xs px-[10px] sm:px-10 lg:px-30 xl:px-40">
  <div class="flex justify-between md:flex-row flex-col w-full mb-5">
    <div class="flex justify-around md:basis-1/2">
      <div class="w-40">
        <img class="w-32" src="/assets/images/So DelishUs Logo.png" />
        <p class="mt-5">Barton waited twenty always repair in within we do.</p>
        <p class="mb-5">An delighted offending curiosity my is dash woods .</p>
        <div class="flex mb-5">
          <img class="w-5 h-5 mr-3" src="assets/images/Group 30.png" />
          <img
            class="w-5 h-5 mr-3"
            src="assets/images/facebook-logo-in-circular-button-outlined-social-symbol.png"
          />
          <img
            class="w-5 h-5"
            src="assets/images/google-plus-circular-button.png"
          />
        </div>
      </div>
      <div class="">
        <h1 class="py-1">Get Links</h1>
        <p class="py-1">About US</p>
        <p class="py-1">Products</p>
        <p class="py-1">Home</p>
        <p class="py-1">Blogs</p>
        <p class="py-1">Contact US</p>
      </div>
    </div>
    <div class="flex justify-around md:basis-1/2">
      <div>
        <h1 class="py-1">Categories</h1>
        <p class="py-1">Sweetner</p>
        <p class="py-1">Pasta</p>
        <p class="py-1">Spegaty</p>
      </div>
      <div>
        <h1 class="py-1">Get in touch</h1>
        <p class="py-1">30/c, Landmark tower, jb road,</p>
        <p class="py-1">Mohammadpur, Dhaka-1207.</p>
        <p class="py-1">@+008 0175413 123 00</p>
        <p class="py-1">hello@foodwala.restaurant</p>
      </div>
    </div>
  </div>
  <div class="flex items-center flex-col sm:flex-row justify-between py-3">
    <div class="flex pt-2 pb-1">
      <p class="border-r border-black pr-3">Terms & Condition</p>
      <p class="mx-4 border-r border-black pr-3">Privacy policy</p>
      <p class="border-r border-black pr-3">FAQ</p>
    </div>
    <div class="pb-2 pt-1">
      <p>2020 So Delishus All Rights Reserved</p>
    </div>
  </div>
</footer>
